@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Indie+Flower&family=Kalam:wght@300&display=swap");

.App {
  background-color: rgb(254, 251, 244);
  height: fit-content;
  min-width: 1300px;
  max-width: 100%;
}
/*Navbar*/
.navbar {
  height: 85px;
  background-color: white;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.navbar span:first-child {
  font-family: "Kalam", cursive;
  font-size: 50px;
  float: left;
  margin-left: 80px;
  color: #786765;
}

.navbar span:last-child {
  background-color: #756363;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 100px;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  font-size: larger;
}
.navbar_center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.navbar_center a {
  color: rgb(136, 150, 143);
  font-size: 20px;
  padding: 20px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  transition: all 1s ease-in;
}
.navbar_center svg {
  transition: all 0.5s ease;
}
.sub_content {
  position: absolute;
  background-color: #e3c1c8;
  cursor: default;
  z-index: -1;
}
.sub_content.auth {
  position: absolute;
  width: 700px;
  height: 520px;
  clip-path: polygon(
    35% 15%,
    57% 0,
    53% 14%,
    100% 25%,
    96% 86%,
    9% 100%,
    0 16%
  );
  background-color: thistle;
  justify-content: center;
  display: flex;
  align-items: center;
}

.author {
  height: 280px;
  width: 280px;
  background-image: url("./img/author.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: -20px;
  position: relative;
}
.author::after {
  position: absolute;
  content: "";
  height: 280px;
  width: 1px;
  background-color: #595057;
  right: 10px;
}
.sub_content.prod {
  position: absolute;
  width: 400px;
  height: 300px;
  transform: translateX(0px);
  clip-path: polygon(
    31% 22%,
    58% 0,
    60% 25%,
    82% 33%,
    70% 81%,
    19% 72%,
    5% 28%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub_content.cont {
  position: absolute;
  width: 370px;
  height: 300px;
  transform: translateX(120px);
  clip-path: polygon(31% 16%, 34% 0, 55% 18%, 100% 23%, 100% 67%, 0 67%, 0 23%);
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #dfc7c1;
}
.sub_content.cont div {
  height: 200px;
  width: 300px;
  padding-top: 70px;
}
.sub_content.cont div span {
  all: unset;
  display: block;
  color: #47403f;
  font-size: 20px;
  position: relative;
}

.arrow {
  position: relative;
  cursor: pointer;
  text-decoration: underline;
}
.arrow::before {
  font-family: "fontawesome";
  position: absolute;
  content: "\f061";
  right: -10px;
  bottom: 0px;
  font-weight: 100;
  transition: all 0.2s ease-in;
  opacity: 0;
  font-size: 24px;
  color: #bdf2cf;
}
.arrow:hover::before {
  transform: translateX(15px);
  opacity: 1;
}

/*Main_1*/
.main_1 {
  width: 100%;
  height: 700px;
  display: flex;
  padding-top: 50px;
  justify-content: center;
}
.main_1 h3 {
  text-indent: 30px;
  font-weight: 300;
}
.main_1_sub {
  z-index: 2;
  width: 650px;
  height: 700px;
  padding: 50px 0 0 10px;
}
.main_1 h2 {
  font-weight: 500;
  width: 600px;
  font-size: calc(15px + 2vw);
  padding: 100px 0 0 30px;
  margin: 0;
  color: #453e3e;
}

.main_1 h5 {
  font-weight: 300;
  font-size: calc(10px + 2vw);
  padding: 0px 0 0 30px;
  color: #453e3e;
}
.main_1_sub:last-child {
  height: 550px;
  background-image: url("./img//wall.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}
.slide_show {
  margin-top: 0;
  position: relative;
  margin-left: 50px;
  width: 570px;
  height: 400px;
  overflow: hidden;
  background-color: #756363;
}
.slide_show_container {
  animation: slide1 infinite 8s;
  animation-duration: 15s;
  animation-delay: 2s;
}

@keyframes slide1 {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-480px);
  }
  50% {
    transform: translateY(-880px);
  }
  75% {
    transform: translateY(-1280px);
  }
  100% {
    transform: translateY(0px);
  }
}
.slides p {
  text-indent: 20px;
}
.slides.show_1 {
  padding: 30px;
  position: relative;
  margin-bottom: 50px;
}
.slides p {
  font-size: 20px;
}
.slides.show_1 div {
  width: 400px;
  height: 300px;
  background-image: url(./img/wall_sup.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 18px;
}

.slides.show_1 p {
  font-size: 30px;
  padding: 20px 0 0 60px;
  color: #bda7a4;
  top: 70px;
  transform: rotate(90deg);
  right: -100px;
  position: absolute;
}

.slides.show_2 {
  position: relative;
  right: 0;
}

.slides.show_2 div {
  margin: 100px 20px -30px 20px;
  width: 250px;
  height: 350px;
  background-image: url(./img/slide2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.slides.show_2 div p {
}
.slides.show_3 {
  position: relative;
  float: right;
}

.slides.show_3 div {
  position: relative;
  float: right;
  width: 450px;
  height: 350px;
  margin-bottom: 10px;

  background-image: url(./img/slide3.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.slides.show_4 {
  margin-left: 150px;
  position: relative;
}

.slides.show_4 div {
  width: 400px;
  height: 300px;
  background-image: url(./img/slide1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.slides.show_4 p {
  text-align: left;
}
.slides.show_5 {
  margin-left: 50px;
  position: relative;
}

.slides.show_5 div {
  margin-top: 50px;
  width: 520px;
  height: 320px;
  background-image: url(./img/slide5.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

/*main_2*/
.main_2 {
  margin-top: 100px;
  width: 100%;
  height: 350px;
  background-color: #453e3e;
  position: relative;
  text-align: center;
  padding-top: 50px;
  color: #ffe6e6;
}
.main_2 h1 {
  font-weight: 300;
  font-size: calc(45px + 1vw);
  background: -webkit-linear-gradient(#eee, #73585d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main_2 p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  font-size: 18px;
  color: white;
}
/*main_3*/

.main_3 {
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
  display: grid;
  justify-items: center;
}
.main_3 p {
  font-size: 25px;
  font-weight: 300;
  color: #453e3e;
  text-decoration: underline;
}
.corousel_1 {
  position: absolute;
  width: 330px;
  height: 280px;
  background-color: #756363;
  background-repeat: no-repeat;
  background-size: cover;
}
.corousel_main {
  width: 450px;
  height: 370px;
  background-color: wheat;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}
.arrows {
  display: flex;
  align-items: center;
}

.index_span {
  font-size: 20px;
}
.svgHolder {
  font-size: 35px;
  color: #756363;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0px 40px;
}
.svgHolder:hover {
  background-color: #f2dada;
}

/* Main_4 */
.Main_4 {
  width: 100%;
  height: 800px;
  background: #4d443f;
  background: -webkit-linear-gradient(top left, #4d443f, #000000);
  background: -moz-linear-gradient(top left, #4d443f, #000000);
  background: linear-gradient(to bottom right, #4d443f, #000000);
  display: flex;
}
.Main_4_left {
  width: 50%;
  height: 700px;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 50px 0px;
}
.Main_4_left p {
  font-size: 23px;
  color: #e8d1d5;
  font-weight: 200;
}
.Main_4_right {
  border-left: 2px solid #3a343b;
  width: 50%;
  height: 800px;
  position: relative;
  box-sizing: border-box;
  padding: 50px;
}
.Main_4_right p {
  color: #dfc7c1;
  width: 550px;
  position: absolute;
  bottom: 200px;
  font-size: 25px;
}
.Main_4_right h1 {
  font-weight: 200;
  font-size: 50px;
  color: #dfc7c1;
}
.Main_4_right h3 {
  font-weight: 200;
  font-size: 38px;
  position: absolute;
  bottom: 100px;
  color: #e0e4ff;
  cursor: pointer;
}
.Main_4_right h3::before {
  font-family: "fontawesome";
  position: absolute;
  content: "\f061";
  right: -10px;
  bottom: 8px;
  font-weight: 100;
  transition: all 0.5s ease-in;
  opacity: 0;
  animation-delay: 1.5s;
  font-size: 28px;
  color: #ffd4e8;
}
.Main_4_right h3:hover::before {
  transform: translateX(20px);
  opacity: 1;
}

.Main_4_right h3::after {
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: white;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  transform-origin: right;
}
.Main_4_right h3:hover::after {
  transform: scaleX(0);
  transform-origin: left;
}

/* Main_5 */
.Main_5 {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
