@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&family=News+Cycle&display=swap");

.App {
  background-color: rgb(254, 251, 244);
  height: fit-content;
  min-width: 1300px;
  max-width: 100%;
}
/*Navbar*/
.navbar {
  height: 85px;
  background-color: #fff7f9;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid#fce6ec;
}

.navbar span:first-child {
  font-family: "Josefin Slab", serif;
  font-size: 50px;
  float: left;
  margin-left: 80px;
  color: #786765;
  cursor: pointer;
}
.navbar span:first-child a {
  all: unset;
  color: #594f4f;
}
.navbar span:first-child a:active {
  color: #594f4f;
}
.navbar span:last-child {
  background-color: #756363;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 100px;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  font-size: larger;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.navbar span:hover:last-child {
  color: #756363;
  background-color: #d4c0b8;
}

.navbar_center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.navbar_center a {
  color: rgb(136, 150, 143);
  font-size: 20px;
  padding: 20px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-in;
}

.navbar_center a:last-child.active::after {
  color: #382335;
  opacity: 1;
  transform: translate3d(-50%, 4px, 0) scale(1);
}
.navbar_center a:last-child::after {
  opacity: 0;
  transition: all 0.1s ease-in-out;
  width: 80%;

  transform: translate3d(-50%, 0, 0) scale(0.8);
  content: "";
  position: absolute;
  height: 3px;
  background-color: #fac0d8;
  bottom: 13px;
  left: 50%;
}
.navbar_center a:last-child:hover::after {
  opacity: 1;
  transform: translate3d(-50%, 4px, 0) scale(1);
}

.navbar_center svg {
  transition: all 0.5s ease;
}
.sub_content {
  position: absolute;
  background-color: #e3c1c8;
  cursor: default;
  z-index: -1;
}
.sub_content.auth {
  position: absolute;
  width: 700px;
  height: 520px;
  clip-path: polygon(
    35% 15%,
    57% 0,
    53% 14%,
    100% 25%,
    96% 86%,
    9% 100%,
    0 16%
  );
  background-color: thistle;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.author {
  height: 280px;
  width: 280px;
  background-image: url("./img/author.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: -20px;
  position: relative;
}
.author::after {
  position: absolute;
  content: "";
  height: 280px;
  width: 1px;
  background-color: #595057;
  right: 10px;
}
.sub_content.prod {
  position: absolute;
  width: 400px;
  height: 300px;
  transform: translateX(0px);
  clip-path: polygon(
    31% 22%,
    58% 0,
    60% 25%,
    82% 33%,
    70% 81%,
    19% 72%,
    5% 28%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub_content.cont {
  position: absolute;
  width: 370px;
  height: 300px;
  transform: translateX(120px);
  clip-path: polygon(31% 16%, 34% 0, 55% 18%, 100% 23%, 100% 67%, 0 67%, 0 23%);
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #dfc7c1;
}
.sub_content.cont div {
  height: 200px;
  width: 300px;
  padding-top: 70px;
}
.sub_content.cont div span {
  all: unset;
  display: block;
  color: #47403f;
  font-size: 20px;
  position: relative;
  margin-top: 7px;
}

.arrow {
  position: relative;
  cursor: pointer;
  text-decoration: underline;
}
.arrow::before {
  font-family: "fontawesome";
  position: absolute;
  content: "\f061";
  right: -10px;
  bottom: 0px;
  font-weight: 100;
  transition: all 0.2s ease-in;
  opacity: 0;
  font-size: 24px;
  color: #bdf2cf;
}
.arrow:hover::before {
  transform: translateX(15px);
  opacity: 1;
}

.login {
  position: absolute;
  width: 600px;
  height: 400px;
  left: 50%;
  top: 170px;
  z-index: 200;
  border: 2px solid #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(145, 130, 126, 0.9);
}
.login h1 {
  font-weight: 200;
  color: antiquewhite;
}
.login_times {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  padding: 10px;
  right: 30px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 25px;
  color: #473e43;
  background-color: antiquewhite;
  z-index: 101;
}
.login button {
  border-radius: 10px;
  background-color: #cfb8bb;
  padding: 5px 8px;
  font-size: 20px;
  border: 2px solid;
  margin: 10px;
  color: #fff;
  border: 1px solid #fff;
  opacity: 0.5;
}
button:not(:disabled):not(.disabled) {
  cursor: pointer;
  opacity: 1;
}
button:focus,
button.focus {
  outline: 0;
}

.login_innerContain {
  position: absolute;
  width: 80%;
  text-align: left;
}
.login_times:hover {
  filter: brightness(150%);
}
.input_control {
  box-sizing: border-box;
  margin: 10px;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #495057;
  border: 2px solid white;
  border-radius: 0.5rem;
}
.login_innerContain {
  position: absolute;
  width: 80%;
  text-align: left;
}
.input_control:focus-within,
.input_control:hover {
  border: 3px solid pink;
  outline: 0;
}
/*Main_1*/
.main_1 {
  width: 100%;
  height: 700px;
  display: flex;
  padding-top: 50px;
  justify-content: center;
}
.main_1 h3 {
  text-indent: 30px;
  font-weight: 300;
}

.main_1_sub {
  z-index: 2;
  width: 650px;
  height: 700px;
  padding: 50px 0 0 10px;
}
.main_1 h2 {
  text-indent: 50px;
  font-weight: 500;
  width: 700px;
  font-size: calc(15px + 4vh);
  padding: 100px 0 0 30px;
  margin: 0;
  color: #453e3e;
}

.main_1 h5 {
  font-weight: 300;
  font-size: calc(10px + 4vh);
  padding: 0px 0 0 30px;
  color: #453e3e;
}
.main_1_sub:last-child {
  height: 550px;
  background-image: url("./img//wall.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}
.slide_show {
  margin-top: 0;
  position: relative;
  margin-left: 50px;
  width: 570px;
  height: 400px;
  overflow: hidden;
  background-color: #756363;
}
.slide_show_container {
  animation: slide1 infinite 8s;
  animation-duration: 15s;
  animation-delay: 2s;
}

@keyframes slide1 {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-480px);
  }
  50% {
    transform: translateY(-880px);
  }
  75% {
    transform: translateY(-1280px);
  }
  100% {
    transform: translateY(0px);
  }
}
.slides p {
  text-indent: 20px;
}
.slides.show_1 {
  padding: 30px;
  position: relative;
  margin-bottom: 50px;
}
.slides p {
  font-size: 20px;
}
.slides.show_1 div {
  width: 400px;
  height: 300px;
  background-image: url(./img/wall_sup.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 18px;
}

.slides.show_1 p {
  font-size: 30px;
  padding: 20px 0 0 60px;
  color: #bda7a4;
  top: 70px;
  transform: rotate(90deg);
  right: -100px;
  position: absolute;
}

.slides.show_2 {
  position: relative;
  right: 0;
}

.slides.show_2 div {
  margin: 100px 20px -30px 20px;
  width: 250px;
  height: 350px;
  background-image: url(./img/slide2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.slides.show_2 div p {
}
.slides.show_3 {
  position: relative;
  float: right;
}

.slides.show_3 div {
  position: relative;
  float: right;
  width: 450px;
  height: 350px;
  margin-bottom: 10px;

  background-image: url(./img/slide3.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.slides.show_4 {
  margin-left: 150px;
  position: relative;
}

.slides.show_4 div {
  width: 400px;
  height: 300px;
  background-image: url(./img/slide1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.slides.show_4 p {
  text-align: left;
}
.slides.show_5 {
  margin-left: 50px;
  position: relative;
}

.slides.show_5 div {
  margin-top: 50px;
  width: 520px;
  height: 320px;
  background-image: url(./img/slide5.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

/*main_2*/
.main_2 {
  margin-top: 100px;
  width: 100%;
  height: 350px;
  background-color: #453e3e;
  position: relative;
  text-align: center;
  padding-top: 50px;
  color: #ffe6e6;
}
.main_2 h1 {
  font-weight: 300;
  font-size: calc(45px + 1vw);
  background: -webkit-linear-gradient(#eee, #73585d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main_2 p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  font-size: 18px;
  color: white;
}
/*main_3*/

.main_3 {
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
  display: grid;
  justify-items: center;
}
.main_3 p {
  font-size: 25px;
  font-weight: 300;
  color: #453e3e;
  text-decoration: underline;
}
.corousel_1 {
  position: absolute;
  width: 330px;
  height: 280px;
  background-color: #756363;
  background-repeat: no-repeat;
  background-size: cover;
}
.corousel_main {
  width: 450px;
  height: 370px;
  background-color: wheat;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}
.arrows {
  display: flex;
  align-items: center;
}

.index_span {
  font-size: 20px;
}
.svgHolder {
  font-size: 35px;
  color: #756363;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0px 40px;
}
.svgHolder:hover {
  background-color: #f2dada;
}

/* Main_4 */
.Main_4 {
  width: 100%;
  height: 800px;
  background: #4d443f;
  background: -webkit-linear-gradient(top left, #4d443f, #000000);
  background: -moz-linear-gradient(top left, #4d443f, #000000);
  background: linear-gradient(to bottom right, #4d443f, #000000);
  display: flex;
}
.Main_4_left {
  width: 50%;
  height: 700px;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 50px 0px;
}
.Main_4_left p {
  font-size: 23px;
  color: #e8d1d5;
  font-weight: 200;
}
.Main_4_right {
  border-left: 2px solid #3a343b;
  width: 50%;
  height: 800px;
  position: relative;
  box-sizing: border-box;
  padding: 50px;
}
.Main_4_right p {
  color: #dfc7c1;
  width: 550px;
  position: absolute;
  bottom: 200px;
  font-size: 25px;
}
.Main_4_right h1 {
  font-weight: 200;
  font-size: 50px;
  color: #dfc7c1;
}
.Main_4_right h3 {
  font-weight: 200;
  font-size: 38px;
  position: absolute;
  bottom: 100px;
  color: #e0e4ff;
  cursor: pointer;
}
.Main_4_right h3::before {
  font-family: "fontawesome";
  position: absolute;
  content: "\f061";
  right: -10px;
  bottom: 8px;
  font-weight: 100;
  transition: all 0.5s ease-in;
  opacity: 0;
  animation-delay: 1.5s;
  font-size: 28px;
  color: #ffd4e8;
}
.Main_4_right h3:hover::before {
  transform: translateX(20px);
  opacity: 1;
}

.Main_4_right h3::after {
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: white;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  transform-origin: right;
}
.Main_4_right h3:hover::after {
  transform: scaleX(0);
  transform-origin: left;
}

/* Main_5 */
.Main_5 {
  max-width: 100%;
  min-width: 1300px;
  font-family: "Josefin Slab", serif;
}

.Gallery {
  background-color: #302828;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 160px;
}
.main_5_container {
  width: 90%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  flex-wrap: wrap;
  min-height: 300px;
}
.cate_div {
  line-height: 70px;
  white-space: nowrap;
}
.sort {
  position: relative;
  height: 400px;
  width: 100%;
  background-color: #302828;
  color: white;
  padding: 100px 100px;
  box-sizing: border-box;
  font-size: 25px;
}
.sort label {
  margin-left: 20px;
  background-color: #473e43;
  border-radius: 30px;
  cursor: pointer;
  padding: 5px 10px;
}
label.active {
  background-color: #bd9b99;
}
.drawing {
  display: inline-block;
  margin: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  transition: all 0.4s ease;
  overflow: hidden;
}
.drawing:hover {
  transform: translateY(-10px);
  box-shadow: 0rem 0.5rem 1.2rem#a17f8a;
}

.info {
  position: absolute;
  width: 100%;
  height: 130px;
  bottom: 0;
  background-color: rgba(77, 69, 72, 0.6);
  padding: 20px 30px;
  box-sizing: border-box;
}
.info span {
  box-sizing: border-box;
  color: white;
  font-weight: 300;
  font-size: 25px;
  border: 2px solid #b89595;
  border-radius: 30px;
  padding: 7px;
  margin-left: 10px;
  margin-bottom: 7px;
  display: inline-block;
  width: fit-content;
  cursor: pointer;
}
.info span:hover {
  background-color: rgba(224, 180, 177, 0.5);
}

.no-relevant {
  width: 100%;
  height: 300px;
  background-color: #302828;
}

/*Upload*/

.upload {
  font-family: "Josefin Slab", serif;
  box-sizing: border-box;
  background: #504640;
  background: -webkit-linear-gradient(top left, #504640, #000000);
  background: -moz-linear-gradient(top left, #504640, #000000);
  background: linear-gradient(to bottom right, #504640, #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.upload_grid_area {
  width: fit-content;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, 390px);
  margin: 50px 0;
}
.up_grid {
  box-sizing: border-box;
  width: 390px;
  height: 390px;
  background-color: rgba(240, 211, 229, 0.4);
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}
.up_grid:hover,
.up_grid:focus-within {
  background-color: rgba(240, 211, 229, 0.8);
  transform: translateY(-20px);
  box-shadow: 0rem 0.5rem 1rem antiquewhite;
}
input[type="file"] {
  display: none;
}
.up_grid label {
  z-index: 30;
  font-size: larger;
  padding: 50px;
  background-color: #ebffed;
  position: absolute;
  left: -50px;
  top: -50px;
  border-radius: 50%;
  cursor: grab;
}
.up_grid_icon {
  transform: translate3d(20px, 20px, 0);
  font-size: 30px;
  color: #443b45;
}
.image_display {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  max-height: 100%;
  max-width: 100%;
}

.upload_comp_submit {
  padding: 10px;
  background-color: rgba(255, 201, 232, 0.7);
  position: absolute;
  right: 14px;
  bottom: 14px;
  cursor: grab;
  transition: all ease-in 250ms;
}
.upload_comp_submit:hover {
  background-color: #875479;
  transform: rotate(15deg);
}
.submit_lock {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #382335;
  opacity: 0.2;
  z-index: 100;
}
.submit_edit {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
}
.up_grid.upload_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.upload_lock {
  display: flex;
}
.up_grid.loding {
  padding-top: 100px;
}
.up_grid.loding div {
  display: flex;

  justify-content: center;
}
.up_grid.loding p {
  color: #73ffc2;
  font-size: 20px;
  text-align: center;
}

/* Attributes upload */
.up_grid.attr {
  padding: 30px 40px;
  position: relative;
  text-align: left;
}
.up_grid.attr {
  padding: 30px 40px;
  position: relative;
  text-align: left;
}
.up_grid.attr h2 {
  margin: 0 0 10px 10px;
  color: #453b36;
}
.att_tag {
  cursor: pointer;
  font-size: 20px;
  font-family: "Josefin Slab", serif;
  background: rgba(255, 222, 241, 0.6);
  color: #241d1d;
  display: inline-block;
  padding: 3px 5px 3px 23px;
  position: relative;
  margin: 0 10px 10px 0;
  border-radius: 7px;
}
.att_tag:hover {
  background: rgba(255, 222, 241, 1);
}
.tag_lock {
  pointer-events: all;
  cursor: grab;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: rgba(248, 243, 239, 0.5);
  border-radius: 7px;
}
.tag_delete {
  z-index: 150;
  font-size: 15px;
  color: #d4fce0;
  position: absolute;
  left: -6px;
  top: -6px;
  width: 18px;
  height: 18px;
  background-color: #5f4663;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.att_tag::before {
  background: var(--lightPurple);
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 13px;
}

#attr_input {
  font-size: 20px;
  display: inline-block;
  height: 32px;
  padding: 0.1rem 0.4rem;
  font-size: 1rem;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin: 0;
  width: 80px;
}
#attr_input:hover {
  border: 1px solid pink;
}
#attr_input:focus-within {
  outline: 0;
  border: 2px solid pink;
}
.attr_btn {
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
  color: #614956;
}
.attr_btn.add {
  background-color: rgba(149, 219, 134, 0.5);
}
.attr_btn.add:hover {
  background-color: rgba(149, 219, 134, 1);
}
.attr_btn.remove {
  background-color: rgba(204, 98, 121, 0.5);
}
.attr_btn.remove:hover {
  background-color: rgba(204, 98, 121, 1);
}
.attr_btn.disable {
  pointer-events: none;
  background-color: grey;
}
/*Footer*/
.pro_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color: #f7f0f3;
  position: relative;
}
.pro_footer label {
  padding-left: 50px;
}
.pro_footer label:hover {
  color: pink;
}

.fuk {
  position: absolute;
  color: rgb(137, 152, 155);
  font-size: 13px;
  bottom: 30px;
  right: 150px;
}

/*search*/

.search_container {
  position: absolute;
  width: 150px;
  height: 30px;
  right: 15%;
  bottom: 170px;
  transition: all 0.5s ease-in;
}
.searchbar {
  position: absolute;
  background-color: transparent;
  border: white;
  color: white;
  outline: 0;
  width: 80%;
  left: 30px;
  height: 100%;
  padding: 5px;
  font-size: 20px;
}
.search_container::before {
  font-family: "fontawesome";
  position: absolute;
  content: "\f002";
  font-size: 25px;
  background: -webkit-linear-gradient(#faebd7, #f7baed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s ease-in-out;
  left: 0;
  z-index: 50;
}

.search_container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #d1a3a3;
  left: 0px;
  bottom: -8px;
  transform: scaleX(1.25);
  transition: 1s ease-in-out;
  transform-origin: left;
}

.search_container:focus-within::before {
  transform: translateX(150px);
}
